In [1]:
#For loops, range and code blocks

In [1]:
fruits = ["Mango","Orange","Pear"]

In [3]:
for fruit in fruits:
    print(fruit)
print(fruits)

Mango
Orange
Pear
['Mango', 'Orange', 'Pear']

In [4]:
# range

In [6]:
for num in range(1,10): # starting is inclusive, end is exclusive
    print(num)

1
2
3
4
5
6
7
8
9

In [7]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [8]:
for num in range(1,11,3):
    print(num)

1
4
7
10

In [10]:
total = 0
for num in range(1,101):
    total += num
print(total)

5050